@charset "UTF-8";

header {
  background-color: #ffffff;
  height: 40px;
}

body {
  background-color: #c4c4c4;
  margin: 0;
}

footer {
  background-color: #ffffff;
  height: 40px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  padding: 20px;
  width: 290px;
  margin: 30px 60px;
}

.card__title {
  font-weight: bold;
  color: #282828;
  font-size: 14px;
}

.card__description {
  font-weight: normal;
  color: #282828;
  font-size: 14px;
  margin: 0;
}

.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 5px;
}
